/*STAR WARS APP STYLES*/

/*FONT FAMILY*/

@font-face {
    font-family: StarWarsFont;
    src: url(assets/Death\ Star.otf);
}
/*INDEX STYLES*/

.wrapper {
    background: url(assets/images/star.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.heading {
    font-family: StarWarsFont, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 2.5em;
    text-align: center;
    color: #FFE633;
    margin-bottom: 0;
}

.faraway {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.faraway img {
    width: 90%;
    height: 90%;
}

.btnstart {
    font-family: StarWarsFont, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 1.75em;
    padding: 2%;
    margin: 5%;
    border-radius: 5px;
}

.questions {
    color: white;
}


/*slide in questions-------------------------*/
#lead {
<<<<<<< HEAD
    background: white;
    color: black;
=======
    background: black;
>>>>>>> d5310a1a230707dfe6532236ebe371f671b748b8
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.leader {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}


    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
/*------------------------------------------*/

#q1 {
    display:flex;
}