/*STAR WARS APP STYLES*/

/*FONT FAMILIES*/

@font-face {
    font-family: StarWarsFont;
    src: url(assets/Death\ Star.otf);
}
@font-face {
    font-family: PixelFont;
    src: url(assets/slkscr.ttf);
}

/*CONTENT STYLES*/

.wrapper {
    background: url(assets/images/star.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: StarWarsFont, Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 2.5em;
    text-align: center;
    color: #FFE633;
    margin-bottom: 0;
    margin-top: 1%;
}

h2 {
    text-align: center;
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-size: 1.75em;
}

h3 {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    margin-top: 10%;
}

.faraway {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pixelfont {
    font-family: PixelFont, Arial, Helvetica, sans-serif;
    color: #3EC894;
    padding: 5% 15%;
}

/*----------------moving star background-----------------------*/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 100%; }
}
.animate-area { 
	width: auto; 
	height: 100%; 
	background-image: url(assets/images/stars.png);
	background-position: 0px 0px;
    padding-top: 50px;
	animation: animatedBackground 15s linear infinite;
}


/*slide in questions and responses-------------------------*/

#lead, #light, #action, #saber{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.leader, .dark, .romance, .blaster  {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

/*IMAGES AND BOXES*/

.landingGif {
    border-radius: 25px;
} 

.father {
    width: 100%;
    margin-top: 5%;
}

.whoami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.questions {
    color: #ffffff;
}

.boxending {
    background: #ffffff;
    color: #000000;
    height: 25em;
    width: 20em;
    text-align: center;
    border-radius: 25px;
    font-weight: 900;
    border: #FFE633 4px solid;
    margin-top: 20%;
    padding-top: 2%;

}

.box {
    background: #ffffff;
    color: #000000;
    height: 25em;
    width: 20em;
    text-align: center;
    border-radius: 25px;
    font-weight: 900;
    border: #FFE633 4px solid;
    padding-top: 2%;
}

/*BUTTON STYLES*/

.btnstart {
    font-family: StarWarsFont, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 1.75em;
    padding: 1%;
    margin: 5%;
    border-radius: 36px;
    width: 275px;
    border: #000000 solid 3px;
    height: 60px;
}

button a {
    font-style: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.answerbutton  {
    border-radius: 25px;
    border: solid black 2px;
    width: 40%;
    height: 20%;
    background-color: #ffffff;

}

.playagain {
    margin-top: 10%;
    border-radius: 25px;
    border: solid black 2px;
    width: 60%;
    height: 40px;
    background-color: #ffffff;
    font-size: 1em;
}

.btnstart:hover, :focus {
    background-color: #17E5D9;
    cursor: pointer;
    box-shadow: 0 0 5px #ffffff;
}

.answerbutton:hover, :focus
{
    background-color: #FF0101;
    cursor: pointer;
    box-shadow: 0 0 5px #FF0101;
}

#who {
    border-radius: 70px;
    background-color: #ffffff;
    border: solid #000000 2px;
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 3em;
    margin-top: 8%;
}

#who:hover, :focus {
    background-color: #17E5D9;
    cursor: pointer;
    box-shadow: 0 0 5px #ffffff;
}

/*BEGIN MEDIA QUERIES*/

@media only screen and (min-width: 768px) {
  .btnstart {
   border-radius: 48px;
   width: 300px;
  }
}


    






