/*STAR WARS APP STYLES*/

/*FONT FAMILY*/

@font-face {
    font-family: StarWarsFont;
    src: url(assets/Death\ Star.otf);
}
@font-face {
    font-family: PixelFont;
    src: url(assets/slkscr.ttf);
}
/*INDEX STYLES*/

.wrapper {
    background: url(assets/images/star.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.heading {
    font-family: StarWarsFont, Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 2.5em;
    text-align: center;
    color: #FFE633;
    margin-bottom: 0;
    margin-top: 1%;
}



h2 {
    text-align: center;
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-size: 1.75em;

}

h3 {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    margin-top: 10%;

}

/*----------------moving star background-----------------------*/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 100%; }
}
.animate-area { 
	width: auto; 
	height: 100%; 
	background-image: url(assets/images/stars.png);
	background-position: 0px 0px;
	/* background-repeat: repeat-x; */
    padding-top: 50px;

	animation: animatedBackground 15s linear infinite;
}
/*---------------------------------------------*/
.faraway {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pixelfont {
    font-family: PixelFont, Arial, Helvetica, sans-serif;
    color: #3EC894;
    padding: 5% 15%;
}


.btnstart {
    font-family: StarWarsFont, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 1.75em;
    padding: 1%;
    margin: 5%;
    border-radius: 36px;
    width: 275px;
    border: black solid 3px;
    height: 60px;
}

.questions {
    color: white;
}

button a {
    font-style: none;
}


/*slide in questions-------------------------*/
#lead, #light, #action, #saber{

    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.leader, .dark, .romance, .blaster  {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}


    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
/*------------------------------------------*/

.boxending {
    background: white;
    color: black;
    height: 25em;
    width: 20em;
    text-align: center;
    border-radius: 25px;
    font-weight: 900;
    border: #FFE633 4px solid;
    margin-top: 20%;
    padding-top: 2%;

}

.box {
    background: white;
    color: black;
    height: 25em;
    width: 20em;
    text-align: center;
    border-radius: 25px;
    font-weight: 900;
    border: #FFE633 4px solid;
   padding-top: 2%;
 
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.answerbutton  {
    border-radius: 25px;
    border: solid black 2px;
    width: 40%;
    height: 20%;
    background-color: white;

}

.playagain {
    margin-top: 10%;
    border-radius: 25px;
    border: solid black 2px;
    width: 60%;
    height: 40px;
    background-color: white;
    font-size: 1em;

}

.landingGif {
    border-radius: 25px;
    }

#who {
    display: flex;
    justify-content: center;
    border-radius: 70px;
    background-color: white;
    border: solid black 2px;
    width: 275px;
    height: 70px;
    font-size: 2em;
    margin-top: 25%;


.btnstart:hover, #who:hover, .answerbutton:hover {
    background-color: red;
}

@media only screen and (min-width: 768px) {
  .btnstart {
   border-radius: 48px;
   width: 300px;
  }
}
    






